.panda-bg-info {
    background-color: #ffe3dd;

}

.catagories img {
    width: 100px;

}

.sc-bg-success {
    background-color: #b0bf1a;
}

.sc-bg-primary {
    background-color: #799186;
}

.sc-btn-warning {
    background-color: #ff2c7d;

}