.panda-bg-info {
    background-color: #ffe3dd;

}

.catagories img {
    width: 100px;

}

.sc-bg-success {
    background-color: #b0bf1a;
}

.sc-bg-primary {
    background-color: #799186;
}

.sc-btn-warning {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    font-size: 20px;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    bottom: none;

}

.price {
    color: #FF136F;
}